@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
  color: rgb(0, 119, 255);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Home Page CSS for navigation buttons
*/

#left-navigate {
  height: 220px;
  width: 42%;
  font-size: 30px;
  order: 1;
}

#right-navigate {
  height: 220px;
  width: 42%;
  font-size: 30px;
  order: 1;
}
/* Select button CSS */
#navigate-select {
  height: 80px;
  font-size: 17px;
  width: 94%;
  margin-top: 1rem;
  margin-bottom: 10px;
}

/*.card {
  margin-top: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
  gap: 10px;
}*/

/* Logic Gates and Tree Demo CSS for navigation buttons */
/*
.logic-gates-card {
  margin-top: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}*/

/* Code that applies to both Logic Gates and Tree Demo controllers */

.directions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#left {
  margin-right: 20px;
  background-color: red;
  color:white;
  height: 140px;
  width: 35%;
  font-size: 30px;
}
#right {
  background-color: rgb(2, 230, 51);
  color:white;
  height: 140px;
  width: 35%;
  font-size: 30px;
}

#home_button {
  margin-top: 50px;
  background-color: grey;
  color: white;
  height: 60px;
  width: 25%;
}

#instructions {
  color: rgb(0, 119, 255);
  font: sans-serif;
  margin-top: 1.5rem;
}

.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Logic Gates Controller Specific CSS */

#logic-gates-controls-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(0, 119, 255);
}

.logic-gates-inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.logic-gates-inputs {
  padding: 1rem 1.5rem;
  width: 90%;
  height: 150%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 1.5em;
  background-color: rgb(0, 119, 255);
  color: white;
}

/* Sorting Controller Specific CSS */

#sorting-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(0, 119, 255);
}

.sorting-controls-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.options-complexity-buttons {
  justify-content: center;
  text-align: center;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgb(0, 119, 255);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.play-restart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.sorting-algorithms {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 1rem;
}

.sorting-controls {
  padding: 1rem 1.5rem;
  width: 90%;
  height: 160%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 1.25em;
  background-color: rgb(0, 119, 255);
  color: white;
}

/* fit on small mobile screens */

@media (max-width: 350px) {
  body {
    font-size: 12px;
  }
}
