# macOS
.DS_Store

# JetBrains IDEs (IntelliJ, PyCharm, WebStorm, etc.)
.idea/

# Environment variables
.env
*.env
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
venv/
*.egg-info/

# Logs
*.log
interactionLog.txt